In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

# Import the Census Data
from census import Census

# Import citipy to determine the cities based on latitude and longitude
from citipy import citipy

ModuleNotFoundError: No module named 'citipy'

In [ ]:
# Import US Census API Key
from config import census_api_key

# Create an instance of the Census library
c = Census(
    census_api_key,
    year = 2018
)

In [53]:
def call_census(year):
    c = Census(census_api_key,year = year)
    #------
    
    census_data = c.acs5.get(
        (
            "NAME",
            "B19013_001E",
            "B01003_001E",
            "B01002_001E",
            "B19301_001E",
            "B17001_002E",
            "B15003_002E",
            "B15003_017E",
            "B15003_018E",
            "B15003_021E",
            "B15003_022E",
            "B15003_023E",
            "B15003_024E",
            "B15003_025E",
            "B17012_003E",
            "B17012_009E",
            "B17012_014E",
            "B17001_002E",
            "B17001_017E",
            "B17001_003E",
            "B17012_002E",
            "B17012_003E",
        ),
        {'for': 'zip code tabulation area:*'}
    )
    census_data = pd.DataFrame(census_data)
    
    census_data = census_data.rename(
    columns = {
        "B01003_001E": "Population",
        "B01002_001E": "Median Age",
        "B19013_001E": "Household Income",
        "B19301_001E": "Per Capita Income",
        "B15003_002E": "No Education",
        "B15003_017E": "High School Education",
        "B15003_018E": "GED",
        "B15003_021E": "Associates",
        "B15003_022E": "Bachelors",
        "B15003_023E": "Masters",
        "B15003_024E": "Professional",
        "B15003_025E": "Doctorate",
        "B17012_003E": "Married",
        "B17012_009E": "Single Male",
        "B17012_014E": "Single Female",
        "B17001_002E": "Poverty",
        "B17001_017E": "poverty_female",
        "B17001_003E": "poverty_male",
        "B17012_002E": "poverty_family",
        "B17012_003E": "poverty_family_married",
        "NAME": "Name",
        "zip code tabulation area": "Zipcode"
    }
    )   
    return census_data

In [54]:
years = [2018,2019,2020,2021,2022]
data_list = []
for year in years:
    data_list.append(call_census(year))

In [55]:
for i in range(5):
    data_list[i]['Year'] = years[i]
    print(data_list[i].head())

          Name  Household Income  Population  Median Age  Per Capita Income  \
0  ZCTA5 00601           13092.0     17242.0        40.5             6999.0
1  ZCTA5 00602           16358.0     38442.0        42.3             9277.0
2  ZCTA5 00603           16603.0     48814.0        41.1            11307.0
3  ZCTA5 00606           12832.0      6437.0        43.3             5943.0
4  ZCTA5 00610           19309.0     27073.0        42.1            10220.0

   Poverty  No Education  High School Education    GED  Associates  ...  \
0  10772.0         492.0                 2868.0  160.0       888.0  ...
1  19611.0         901.0                 5751.0  947.0      3387.0  ...
2  24337.0         924.0                 8745.0  996.0      2370.0  ...
3   4163.0         185.0                 1284.0  138.0       241.0  ...
4  11724.0         643.0                 4945.0  624.0      2241.0  ...

   Doctorate  poverty_family_married  Single Male  Single Female  \
0       79.0                  1223.0        215.0          988.0
1      312.0                  2360.0        502.0         1665.0
2      280.0                  2393.0        697.0         3349.0
3        0.0                   421.0        109.0          251.0
4       66.0                  1307.0        278.0         1029.0

   poverty_female  poverty_male  poverty_family  state  Zipcode  Year
0          5905.0        4867.0          2426.0     72    00601  2018
1         10077.0        9534.0          4527.0     72    00602  2018
2         13467.0       10870.0          6439.0     72    00603  2018
3          2110.0        2053.0           781.0     72    00606  2018
4          6074.0        5650.0          2614.0     72    00610  2018

[5 rows x 23 columns]
          Name  Household Income  Population  Median Age  Per Capita Income  \
0  ZCTA5 00601           14361.0     17113.0        41.9             7493.0
1  ZCTA5 00602           16807.0     37751.0        42.9             9694.0
2  ZCTA5 00603           16049.0     47081.0        42.1            11259.0
3  ZCTA5 00606           12119.0      6392.0        44.3             6093.0
4  ZCTA5 00610           19898.0     26686.0        42.7            10572.0

   Poverty  No Education  High School Education    GED  Associates  ...  \
0  10552.0         455.0                 2952.0  199.0      1141.0  ...
1  18653.0         822.0                 6127.0  797.0      2971.0  ...
2  23691.0         804.0                 8788.0  984.0      2525.0  ...
3   4185.0         236.0                 1303.0  154.0       204.0  ...
4  12204.0         744.0                 5138.0  596.0      2132.0  ...

   Doctorate  poverty_family_married  Single Male  Single Female  \
0       46.0                  1276.0        172.0          952.0
1      260.0                  2265.0        529.0         1670.0
2      223.0                  2179.0        707.0         3544.0
3        0.0                   388.0        119.0          305.0
4       63.0                  1288.0        379.0         1028.0

   poverty_female  poverty_male  poverty_family  state  Zipcode  Year
0          5733.0        4819.0          2400.0     72    00601  2019
1          9645.0        9008.0          4464.0     72    00602  2019
2         13098.0       10593.0          6430.0     72    00603  2019
3          2155.0        2030.0           812.0     72    00606  2019
4          6400.0        5804.0          2695.0     72    00610  2019

[5 rows x 23 columns]
          Name  Household Income  Population  Median Age  Per Capita Income  \
0  ZCTA5 29590           30985.0      3543.0        39.1            13288.0
1  ZCTA5 93306           54450.0     74296.0        31.3            23580.0
2  ZCTA5 93660           39625.0      4082.0        26.7            12475.0
3  ZCTA5 93110           93264.0     15777.0        46.9            53375.0
4  ZCTA5 93212           42983.0     22596.0        34.4            10656.0

   Poverty  No Education  High School Education     GED  Associates  ...  \
0    869.0          65.0                  721.0   440.0       247.0  ...
1  15853.0        1641.0                10337.0  1718.0      2959.0  ...
2   1057.0         117.0                  464.0    56.0       130.0  ...
3   1332.0         150.0                 1686.0   293.0       822.0  ...
4   3911.0         396.0                 3256.0  1339.0       546.0  ...

   Professional  Doctorate  poverty_family_married  Single Male  \
0           9.0        0.0                    79.0          9.0
1         531.0      239.0                  1265.0        342.0
2           0.0        0.0                   114.0          0.0
3         602.0      483.0                    45.0         14.0
4          21.0       23.0                   252.0         74.0

   Single Female  poverty_female  poverty_male  poverty_family  Zipcode  Year
0          122.0           378.0         491.0           210.0    29590  2020
1         1279.0          8828.0        7025.0          2886.0    93306  2020
2          143.0           661.0         396.0           257.0    93660  2020
3          155.0           905.0         427.0           214.0    93110  2020
4          482.0          2183.0        1728.0           808.0    93212  2020

[5 rows x 22 columns]
          Name  Household Income  Population  Median Age  Per Capita Income  \
0  ZCTA5 00601           15292.0     17126.0        43.7             7587.0
1  ZCTA5 00602           18716.0     37895.0        44.4            10699.0
2  ZCTA5 00603           16789.0     49136.0        44.1            12280.0
3  ZCTA5 00606           18835.0      5751.0        44.9             8574.0
4  ZCTA5 00610           21239.0     26153.0        43.5            11638.0

   Poverty  No Education  High School Education    GED  Associates  ...  \
0  11302.0         403.0                 3388.0  230.0      1532.0  ...
1  17121.0         844.0                 6501.0  742.0      3104.0  ...
2  23617.0         662.0                 9767.0  874.0      3030.0  ...
3   3139.0         188.0                 1243.0  115.0       210.0  ...
4  11640.0         760.0                 5404.0  546.0      2431.0  ...

   Professional  Doctorate  poverty_family_married  Single Male  \
0          20.0       20.0                  1202.0        175.0
1         139.0      173.0                  2050.0        485.0
2         413.0      282.0                  2060.0        730.0
3           0.0        0.0                   265.0         92.0
4         108.0      114.0                  1364.0        378.0

   Single Female  poverty_female  poverty_male  poverty_family  Zipcode  Year
0          885.0          6120.0        5182.0          2262.0    00601  2021
1         1379.0          8871.0        8250.0          3914.0    00602  2021
2         3025.0         13110.0       10507.0          5815.0    00603  2021
3          260.0          1643.0        1496.0           617.0    00606  2021
4          840.0          5919.0        5721.0          2582.0    00610  2021

[5 rows x 22 columns]
          Name  Household Income  Population  Median Age  Per Capita Income  \
0  ZCTA5 00601           17526.0     16834.0        44.0             9012.0
1  ZCTA5 00602           20260.0     37642.0        45.2            11379.0
2  ZCTA5 00603           17703.0     49075.0        45.0            13010.0
3  ZCTA5 00606           19603.0      5590.0        46.2             9274.0
4  ZCTA5 00610           22796.0     25542.0        44.4            12726.0

   Poverty  No Education  High School Education    GED  Associates  ...  \
0  10440.0         344.0                 3467.0  295.0      1622.0  ...
1  17768.0         854.0                 6276.0  885.0      3377.0  ...
2  23551.0         666.0                10700.0  822.0      3041.0  ...
3   3021.0         144.0                 1291.0   83.0       186.0  ...
4  11597.0         664.0                 5279.0  422.0      2467.0  ...

   Professional  Doctorate  poverty_family_married  Single Male  \
0          23.0       23.0                  1057.0        176.0
1          69.0      109.0                  2178.0        428.0
2         414.0      337.0                  2173.0        694.0
3           0.0        0.0                   274.0        111.0
4         151.0       17.0                  1223.0        387.0

   Single Female  poverty_female  poverty_male  poverty_family  Zipcode  Year
0          808.0          5631.0        4809.0          2041.0    00601  2022
1         1341.0          9371.0        8397.0          3947.0    00602  2022
2         3035.0         13090.0       10461.0          5902.0    00603  2022
3          260.0          1612.0        1409.0           645.0    00606  2022
4          921.0          6021.0        5576.0          2531.0    00610  2022

[5 rows x 22 columns]

In [63]:
combined_df = pd.concat([data_list[0],data_list[1],data_list[2],data_list[3],data_list[4]])

In [62]:
combined_df = combined_df.dropna(axis=0, how='any')

In [65]:
combined_df['Poverty'] = combined_df['Poverty'].fillna(0)

In [66]:
# Add a Poverty Rate column (Poverty Count / Population)
combined_df["Poverty Rate"] = 100 * combined_df["Poverty"].astype(int) / combined_df["Population"].astype(int)

In [70]:
combined_df['Year'].value_counts()
combined_df.to_csv("combined_df.csv", encoding="utf-8", index=False)

In [68]:
# combined_df.head()

,Name,Household Income,Population,Median Age,Per Capita Income,Poverty,No Education,High School Education,GED,Associates,...,poverty_family_married,Single Male,Single Female,poverty_female,poverty_male,poverty_family,state,Zipcode,Year,Poverty Rate
0,ZCTA5 00601,13092.0,17242.0,40.5,6999.0,10772.0,492.0,2868.0,160.0,888.0,...,1223.0,215.0,988.0,5905.0,4867.0,2426.0,72,00601,2018,62.475351
1,ZCTA5 00602,16358.0,38442.0,42.3,9277.0,19611.0,901.0,5751.0,947.0,3387.0,...,2360.0,502.0,1665.0,10077.0,9534.0,4527.0,72,00602,2018,51.014515
2,ZCTA5 00603,16603.0,48814.0,41.1,11307.0,24337.0,924.0,8745.0,996.0,2370.0,...,2393.0,697.0,3349.0,13467.0,10870.0,6439.0,72,00603,2018,49.856599
3,ZCTA5 00606,12832.0,6437.0,43.3,5943.0,4163.0,185.0,1284.0,138.0,241.0,...,421.0,109.0,251.0,2110.0,2053.0,781.0,72,00606,2018,64.672984
4,ZCTA5 00610,19309.0,27073.0,42.1,10220.0,11724.0,643.0,4945.0,624.0,2241.0,...,1307.0,278.0,1029.0,6074.0,5650.0,2614.0,72,00610,2018,43.305138